<div class="card p-3">
	<code>[ name, total, user_id, currency_id, paid, item_id, frequency, installment_months, initial_payment, first_payment_date, installment_round_amount]</code>
	<form (submit)="createOrders($event)">
		<div class="">
			<input type="file" name="users_file" class="form-control" (change)="onUsersFileChanged($event)" required>
		</div>
		<div class="my-3 d-flex gap-2">
			<button type="submit" class="btn btn-primary">Registrar Ordenes con Plazos</button>
			<button type="button" class="btn btn-secondary" (click)="downloadTemplate()">Descargar Plantilla</button>
		</div>
	</form>

</div>
