.pointer {
	cursor: pointer;
}

.pointer:hover {
	color: #0d6efd;
}

.c-row > [class*="col-"] {
	padding-right: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
	padding-left: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
}
