<div class="container-fluid">
	<h1 class="my-3">Cuentas bancarias por tienda</h1>

	<div class="mb-3">
		<a routerLink="/add-store-bank-account" class="btn btn-primary">Add New</a>
	</div>

	<div class="card-body">
		<form (submit)="search()" class="mb-3">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="store_id">Store ID</label>
						<input type="number" class="form-control" id="store_id" name="store_id" [(ngModel)]="search_object.eq.store_id">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="bank_account_id">Bank Account ID</label>
						<input type="number" class="form-control" id="bank_account_id" name="bank_account_id" [(ngModel)]="search_object.eq.bank_account_id">
					</div>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary mt-4">Search</button>
				</div>
			</div>
		</form>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Store</th>
						<th>Bank Account</th>
						<th>Transaction Type</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of records">
						<td>{{ i.store_bank_account.id }}</td>
						<td>{{ getStoreName(i.store_bank_account.store_id) }}</td>
						<td>{{ getBankAccountName(i.store_bank_account.bank_account_id) }}</td>
						<td>{{ i.store_bank_account.default_transaction_type || '-' }}</td>
						<td>{{ i.store_bank_account.name || '-' }}</td>
						<td>
							<a [routerLink]="['/edit-store-bank-account', i.store_bank_account.id]" class="btn btn-sm btn-warning">Edit</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
