<div class="container mt-4">
	<h1 class="my-3">Resumen de Producción</h1>
	<div class="card p-3 mb-3">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Inicio</label>
					<input type="date" class="form-control" name="start_date" [(ngModel)]="start_date">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Fin</label>
					<input type="date" class="form-control" name="end_date" [(ngModel)]="end_date">
				</div>
			</div>
			<div class="col-md-4">
				<label>&nbsp;</label>
				<div>
					<button class="btn btn-primary" (click)="csearch($event)">Buscar</button>
				</div>
			</div>
		</div>
	</div>

	@if (is_loading)
	{
		<app-loading [is_loading]="is_loading"></app-loading>
	}
	@else
	{
		<div class="card p-3">
			<table class="table table-bordered">
				<tr>
					<th>Equipos/Categorias/Articulos/Parciales</th>
					<th class="text-end">Kgs</th>
					<th class="text-end">Control</th>
					<th></th>
				</tr>
			</table>

			@for (area_data of production_by_area_list; track area_data.production_area.id)
			{ }

			@for (dayGroup of groupedProductionByDate; track dayGroup.date) {
				<h2>{{ dayGroup.date | date:'mediumDate' }}</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Artículo</th>
							<th class="text-end">Kgs</th>
							<th class="text-end">Control</th>
						</tr>
					</thead>
					<tbody>
						@for (production of dayGroup.productions; track production.production.id) {
							<tr>
								<td>{{ production.item.name }}</td>
								<td class="text-end">{{ production.production.qty }}</td>
								<td class="text-end">{{ production.production.alternate_qty }}</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr class="table-primary">
							<td><strong>Total del día</strong></td>
							<td class="text-end"><strong>{{ dayGroup.total_kgs }}</strong></td>
							<td class="text-end"><strong>{{ dayGroup.total_pieces }}</strong></td>
						</tr>
					</tfoot>
				</table>

			}

			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th>
						<th class="text-end">Total Kgs</th>
						<th class="text-end">Total Control</th>
						<th></th>
					</tr>
				</thead>

				<tfoot>
					<tr class="table-primary">
						<td><strong>Total Área</strong></td>
						<td class="text-end"><strong>{{ total_kgs  }}</strong></td>
						<td class="text-end"><strong>{{ total_pieces  }}</strong></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	}
</div>
