<div class="container-fluid">
	<div class="row my-3 align-items-center mx-0">
		<div class="col p-0">
			<h1 class="text-capitalize">Producción</h1>
		</div>
	</div>

	<div class="card p-3 mt-3">
		<div class="row">
			<div class="col-12 col-md-3">
				<label>Sucursal</label>
				<select class="form-control" name="store_id" [(ngModel)]="production_search.eq.store_id">
					<option [ngValue]="null">Seleccionar sucursal</option>
					@for(store of store_list; track store.id)
					{
						<option [value]="store.id">{{store.name}}</option>
					}
				</select>
			</div>
			<div class="col-12 col-md-3 form-group">
				<label>Fecha y Hora Inicial</label>
				<input type="datetime-local" class="form-control" [(ngModel)]="fecha_inicial" (ngModelChange)="fechaInicialChange($event)">
			</div>
			<div class="col-12 col-md-3 form-group">
				<label>Fecha y Hora Final</label>
				<input type="datetime-local" class="form-control" [(ngModel)]="fecha_final" (ngModelChange)="fechaFinalChange($event)">
			</div>
			<div class="col-12 col-md-3 form-group">
				<label>&nbsp;</label>
				<div>
					<button type="button" class="btn btn-primary w-100" (click)="search(production_search)">Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<app-pagination class="d-print-none" [path]="'/list-sat-factura'" [pages]="pages" [total_pages]="total_pages" [current_page]="current_page"></app-pagination>
	<div class="card p-3">
		<div class="row fw-bold border-bottom pb-2">
			<div class="col-12 col-md-4">Producto</div>
			<div class="col-12 col-md-3">Sucursal</div>
			<div class="col-12 col-md-3">Fecha</div>
			<div class="col-12 col-md-2">Cantidad</div>
			<!-- <div class="col-12 col-md-2">Piezas</div> -->
		</div>

		@for(production_info of production_info_list; track production_info.production.id)
		{
			<div class="row border-bottom py-2">
				<div class="col-12 col-md-4">{{production_info.item.name}}</div>
				<div class="col-12 col-md-3">{{production_info.store.name}}</div>
				<div class="col-12 col-md-3">{{production_info.production.created | date:'dd/MM/yyyy'}}</div>
				<div class="col-12 col-md-2">{{production_info.production.qty}}</div>
				<!-- <div class="col-12 col-md-2">{{production_info.production.alternate_qty}}</div> -->
			</div>
		}
	</div>
	<app-pagination class="d-print-none" [path]="'/list-sat-factura'" [pages]="pages" [total_pages]="total_pages" [current_page]="current_page"></app-pagination>
</div>
