<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h1 class="my-3">{{printer.id ? 'Actualizar':'Agregar'}} Impresora</h1>
		</div>
	</div>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card p-3 mt-3">
		<form (submit)="save($event)" ngNativeValidate>
			<div class="row my-2">
				<div class="col-12 col-md-6 form-group">
					<label for="name">Nombre</label>
					<input type="text" id="name" name="name" class="form-control" [(ngModel)]="printer.name" required>
				</div>
				<div class="col-12 col-md-6 form-group">
					<label for="serial_number">Número de Serie</label>
					<input type="text" id="serial_number" name="serial_number" class="form-control" [(ngModel)]="printer.serial_number">
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 col-md-6 form-group">
					<label for="ip_address">Dirección IP</label>
					<input type="text" id="ip_address" name="ip_address" class="form-control" [(ngModel)]="printer.ip_address">
				</div>
				<div class="col-12 col-md-6 form-group">
					<label for="port">Puerto</label>
					<input type="number" id="port" name="port" class="form-control" [(ngModel)]="printer.port">
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 col-md-6 form-group">
					<label for="protocol">Protocolo</label>
					<input type="text" id="protocol" name="protocol" class="form-control" [(ngModel)]="printer.protocol">
				</div>
				<div class="col-12 col-md-6 form-group">
					<label for="device">Dispositivo</label>
					<input type="text" id="device" name="device" class="form-control" [(ngModel)]="printer.device">
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 col-md-6 form-group">
					<label for="store_id">ID Tienda</label>
					<input type="number" id="store_id" name="store_id" class="form-control" [(ngModel)]="printer.store_id">
				</div>
				<div class="col-12 col-md-6 form-group">
					<label for="description">Descripción</label>
					<input type="number" id="description" name="description" class="form-control" [(ngModel)]="printer.description">
				</div>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-info me-2" (click)="listUSBDevices()">Listar Dispositivos USB</button>
				<button type="button" class="btn btn-secondary me-2" (click)="location.back()">Cancelar</button>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</div>

<app-modal [(show)]="show_usb_modal" [biggest_posible]="false">
	<div class="card">
		<div class="card-header">
			<h5 class="mb-0">Dispositivos USB Disponibles</h5>
		</div>
		<div class="card-body">
			@if (usb_devices.length === 0) {
				<p class="text-muted">No hay dispositivos USB disponibles</p>
			} @else {
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Fabricante</th>
								<th>Producto</th>
								<th>Vendor ID</th>
								<th>Product ID</th>
								<th>Número de Serie</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							@for (device of usb_devices; track device) {
								<tr>
									<td>{{ device.manufacturerName || 'N/A' }}</td>
									<td>{{ device.productName || 'N/A' }}</td>
									<td>{{ toHex(device.vendorId) }}</td>
									<td>{{ toHex(device.productId) }}</td>
									<td>{{ device.serialNumber || 'N/A' }}</td>
									<td>
										<button type="button" class="btn btn-sm btn-primary" (click)="selectUSBDevice(device)">
											Seleccionar
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
</app-modal>
