<div class="container-fluid">
  <div class="row align-items-end mx-0">
    <div class="col">
      <h1 class="my-3 text-capitalize">Ver Transformación de Item</h1>
    </div>
    <div class="col-auto">
      <a [routerLink]="['/edit-item-transform', item_transform.id]" class="btn btn-primary">Editar</a>
      <a [routerLink]="['/list-item-transform']" class="btn btn-secondary ml-2">Volver</a>
    </div>
  </div>

  <div class="card p-3 mt-3">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">ID</label>
        <p class="fw-bold">{{ item_transform.id }}</p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">Item Origen (ID)</label>
        <p class="fw-bold">{{ item_transform.from_item_id || '-' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">Item Destino (ID)</label>
        <p class="fw-bold">{{ item_transform.to_item_id }}</p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">Multiplicador</label>
        <p class="fw-bold">{{ item_transform.multiplier }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">Creación</label>
        <p class="fw-bold">{{ item_transform.created | date: 'MMM d, y, h:mm a' }}</p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="text-muted">Actualización</label>
        <p class="fw-bold">{{ item_transform.updated | date: 'MMM d, y, h:mm a' }}</p>
      </div>
    </div>
  </div>
</div>
