<div class="container-fluid">
	<h1 class="my-3 text-capitalize">{{process_status.id ? 'Actualizar':'Agregar'}} process status</h1>
	<form ngNativeValidate (submit)="save()">
		<div class="card p-3">
			<div class="row p-3">
				
				<div class="col-6 col-md-4">
					<label class="">Name</label>
					<input type="number" name="name" [(ngModel)]="process_status.name" class="form-control">
				</div>
				<div class="col-6 col-md-4">
					<label class="">Process</label>
					<select name="process_id" [(ngModel)]="process_status.process_id" class="form-control">
						<option [ngValue]="null">Select</option>
						<option *ngFor="let c of process_list" [value]="c.id">{{c.status}}</option>
					</select>
				</div>
				<div class="col-6 col-md-4">
					<label class="">Status</label>
					<select name="status" [(ngModel)]="process_status.status" class="form-control">
						<option [ngValue]="null">Select</option>
						<option value="ACTIVE">ACTIVE</option>
						<option value="DELETED">DELETED</option>
					</select>
				</div>
				<div class="col-6 col-md-4">
					<label class="">Mark task as done</label>
					<input type="number" name="mark_task_as_done" [(ngModel)]="process_status.mark_task_as_done" class="form-control">
				</div>

			</div>
			<div class="row p-3">
				<div class="col-12 text-right">
					<button type="submit"  [disabled]="is_loading" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>
