<div class="container-fluid">
	<h1>Envios</h1>
	<div class="card p-1 p-lg-3">
		<!--table>
			<thead>
				<th>Sucursal</th>
				<th>Piezas Requeridas</th>
				<th>Piezas Enviadas</th>
				<th>Pendientes</th>
			</thead>
			<tbody>
				<tr *ngFor="let creq of crequisition_by_store_list">
					<td>{{creq.store.name}}</td>
					<td>{{creq.required | number}}</td>
					<td>{{creq.shipped | number}}</td>
					<td>{{creq.shipped >= creq.required ? 0 : creq.required-creq.shipped | number}}</td>
					<td>
						<a class="btn btn-primary" [routerLink]="['/add-shipping',creq.store.id, 0]">Crear Envio</a>
					</td>
				</tr>
			</tbody>
		</table-->
		<div class="d-none d-md-flex fw-bold border-bottom align-items-end">
			<div class="col-3">Sucursal</div>
			<div class="col-9">
				<div class="row text-end align-items-end">
					<div class="col-4 col-lg-3">Piezas Requeridas</div>
					<div class="col-4 col-lg-3">Piezas Enviadas</div>
					<div class="col-4 col-lg-3">Pendientes</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom align-items-center" *ngFor="let creq of crequisition_by_store_list">
			<div class="col-8 col-md-3 d-lg-5 fw-bold">{{creq.store.name}}</div>
			<div class="col-4 col-md-2 fw-bold d-lg-none order-md-3">
				<a class="btn btn-primary my-1" [routerLink]="['/add-shipping',creq.store.id, 0]">Crear Envio</a>
			</div>
			<div class="col-12 col-md-9">
				<div class="row align-items-center">
					<div class="d-md-none col-6">Piezas Requeridas</div>
					<div class="col-6 col-md-4 col-lg-3 text-end">{{creq.required | number}}</div>
					<div class="d-md-none col-6">Piezas Enviadas</div>
					<div class="col-6 col-md-4 col-lg-3 text-end">{{creq.shipped | number}}</div>
					<div class="d-md-none col-6">Pendientes</div>
					<div class="col-6 col-md-4 col-lg-3 text-end">{{creq.shipped >= creq.required ? 0 : creq.required-creq.shipped | number}}</div>
					<div class="d-none d-lg-block col-md-3 text-end">
						<a class="btn btn-primary my-1" [routerLink]="['/add-shipping',creq.store.id, 0]">Crear Envio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
