<div class="container-fluid">
	<h1>Envios</h1>
	<div class="card p-3">
		<table>
			<thead>
				<th>Sucursal</th>
				<th>Piezas Requeridas</th>
				<th>Piezas Enviadas</th>
				<th>Pendientes</th>
			</thead>
			<tbody>
				<tr *ngFor="let creq of crequisition_by_store_list">
					<td>{{creq.store.name}}</td>
					<td>{{creq.required | number}}</td>
					<td>{{creq.shipped | number}}</td>
					<td>{{creq.shipped >= creq.required ? 0 : creq.required-creq.shipped | number}}</td>
					<td>
						<a class="btn btn-primary" [routerLink]="['/add-shipping',creq.store.id, 0]">Crear Envio</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
