<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h1 class="my-3">{{commission_rule.id ? 'Actualizar' : 'Agregar'}} Regla de Comisión</h1>
		</div>
	</div>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card p-3 mt-3">
		<form (submit)="save($event)" ngNativeValidate>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label for="base_percent">Porcentaje Base</label>
					<input type="number" id="base_percent" name="base_percent" class="form-control" [(ngModel)]="commission_rule.base_percent" step="0.000001" required>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label for="discount_reduction_per_percent">Reducción por Descuento (%)</label>
					<input type="number" id="discount_reduction_per_percent" name="discount_reduction_per_percent" class="form-control" [(ngModel)]="commission_rule.discount_reduction_per_percent" step="0.000001" required>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label>Artículo</label>
					<app-item-search
						[value]="commission_rule.item_id"
						(valueChange)="commission_rule.item_id = $event"
						[nullLabel]="'Todos los artículos'">
					</app-item-search>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label>Categoría</label>
					<app-category-search
						[value]="commission_rule.category_id"
						(valueChange)="commission_rule.category_id = $event"
						[nullLabel]="'Todas las categorías'">
					</app-category-search>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label>Tipo de Precio</label>
					<app-price-type-search
						[value]="commission_rule.price_type_id"
						(valueChange)="commission_rule.price_type_id = $event"
						[nullLabel]="'Todos los tipos de precio'">
					</app-price-type-search>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label>Sucursal</label>
					<app-store-search
						[value]="commission_rule.store_id"
						(valueChange)="commission_rule.store_id = $event"
						[nullLabel]="'Todas las sucursales'">
					</app-store-search>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12 form-group">
					<label for="status">Estatus</label>
					<select id="status" name="status" class="form-select" [(ngModel)]="commission_rule.status" required>
						<option value="ACTIVE">ACTIVE</option>
						<option value="INACTIVE">INACTIVE</option>
					</select>
				</div>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-secondary me-2" (click)="location.back()">Cancelar</button>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</div>
