<div class="container-fluid">
	<div class="row">
		<div class="col-10">
		</div>
		<div class="col-2">
			<a *ngIf="map_route.length>0" class="btn btn-secondary" [routerLink]="map_route">Ver Mapa</a>
		</div>
	</div>
	<h1 class="my-3">Reservaciones</h1>
	<div class="card p-3 my-3">
		<div class="row">
			<div class="col-12 col-md-3">
				<span>Nombre: </span>
				<div>
					<strong>{{reservation_info.reservation.client_name}}</strong>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<span>Creation: </span>
				<div>
					<strong>{{reservation_info.reservation.created | shortDate}}</strong>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<span>Ultimo Corte</span>
				<div>
					<strong>N/A</strong>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<span>Ultimo Corte</span>
				<div>
					<strong>N/A</strong>
				</div>
			</div>

			<div class="col-12 col-md-3">
				<span></span>
				<div>
					<a [routerLink]="['/rentals/add-period', reservation_info.reservation.id]" class="btn btn-primary">Generar Corte</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 form-group">
				<label>Fecha de entrega</label>
				<input type="datetime-local" name="scheduled_delivery" [ngModel]="scheduled_delivery" (ngModelChange)="updateScheduleDelivery($event)" class="form-control" [disabled]="disable_all">
			</div>
			<div class="col-12 col-md-6 form-group">
				<label>Fecha de recolección</label>
				<input type="datetime-local" name="scheduled_return" [ngModel]="scheduled_return" (ngModelChange)="updateScheduleReturn($event)" class="form-control" [disabled]="disable_all">
			</div>
		</div>
		<div class="row mt-3" *ngIf="!disable_all">
			<div class="col-9 d-none d-md-block">&nbsp;</div>
			<div class="col-12 col-md-3 text-end">
				<button class="btn btn-primary mx-1" (click)="showAssignDelivery(reservation_info)">Asignar Entrega</button>
				<button class="btn btn-primary mx-1" (click)="showAssignReturn(reservation_info)">Asignar Recoleccion</button>
			</div>
		</div>
	</div>
	<h2 class="my-3">Artículos/Servicios</h2>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card p-3 mt-3">
		<table class="w-100">
			<tr>
				<td>Articulo</td>
				<td class="text-end">Cantidad</td>
				<td class="text-end">Entregados</td>
				<td class="text-end">Fecha de<br>Entrega</td>
				<td class="text-end">Asignado<br>Entrega</td>
				<td class="text-end">Fecha de<br>Recoleccion</td>
				<td class="text-end">Cantidad Retornada</td>
				<td class="text-end">Asignado<br>Recoleccion</td>
				<td class="text-end">Acciones</td>
			</tr>
			<ng-container *ngFor="let ri of reservation_info.items">
				<tr *ngIf="ri.reservation_item.period_type!='ONCE_ONLY'">
					<td>{{ri.item.name}}</td>
					<td class="text-end">{{ri.reservation_item.qty}}</td>
					<td class="text-end">{{ri.reservation_item.delivered_qty}}</td>
					<td class="text-end">{{ri.reservation_item.scheduled_delivery | shortDate: 'local'}}</td>
					<td class="text-end">
						<div *ngFor="let dd of ri.delivery_assignments">{{dd.user.name}}</div>
					</td>
					<td class="text-end">{{ri.reservation_item.scheduled_return | shortDate:'local'}}</td>
					<td class="text-end">{{ri.reservation_item.returned_qty}}</td>
					<td class="text-end">
						<div *ngFor="let dd of ri.return_assignments">{{dd.user.name}}</div>
					</td>
					<td class="text-end">
						<ng-container *ngIf="!disable_all">
							<a class="btn btn-primary btn-sm mx-1" (click)="showAssignSerials(ri)">Asignar Inventario</a>
							<button class="btn btn-primary btn-sm mx-1" (click)="markReservationItemAsDelivered(ri)">Marcar Entregado</button>
							<button class="btn btn-primary btn-sm mx-1" (click)="markReservationItemAsReturned(ri)">Marcar Regresado</button>
						</ng-container>
					</td>
				</tr>
			</ng-container>
		</table>
	</div>
	<ng-container *ngIf="!disable_all">
		<h2 class="my-3">Agregar Extras</h2>
		<div class="card p-3">
			<div class="row">
				<div class="col-12">
					<label>Agregar artículo</label>
					<app-search-items (item_selected)="onItemSelected($event)" [reset_on_search]="true" [for_reservation]="false"></app-search-items>
				</div>
			</div>
			<form (submit)="addNewItem($event)"  ngNativeValidate>
				<div class="col-6 col-md-6" *ngIf="new_item_info">
					<div class="col-6 col-md-6" *ngIf="new_item_info">
						{{new_item_info | itemName}}
					</div>
					<div class="col-6 col-md-3">
						<label>Cantidad</label>
						<input type="number" class="form-control" name="new_item_qty" [(ngModel)]="new_item_qty" required>
					</div>
					<div>
						<div class="col-6 col-md-3">
							<button type="submit" class="btn btn-primary">Agregar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<h2 class="my-3">Extras</h2>
		<div class="card py-3 px-1 px-md-3">
			<table class="w-100">
				<ng-container *ngFor="let ri of reservation_info.items">
					<tr *ngIf="ri.reservation_item.period_type=='ONCE_ONLY' && ri.reservation_item.last_period_id == null">
						<td>{{ri?.item?.name}}</td>
						<td class="text-end">{{ri.reservation_item.qty}}</td>
						<td class="text-end">{{ri.reservation_item.scheduled_delivery | shortDate: 'local'}}</td>
						<td class="text-end"></td>
					</tr>
				</ng-container>
			</table>
		</div>
		<div class="col-6 col-md-8">
			<div class="row align-items-center">
				<div class="col-6 col-md-8">
					<h2 class="my-3">Inventario Asignado</h2>
				</div>
				<div class="col-3 col-md-2 text-end">
					<button type="button" class="btn btn-primary btn-sm mx-1" (click)="markAllAsDelivered()">
						Entregar todo
					</button>
				</div>
				<div class="col-3 col-md-2 text-end">
					<button type="button" class="btn btn-primary btn-sm" (click)="markAllAsReturned()">
						Regresar Todo
					</button>
				</div>
			</div>
			<div class="card p-3">
				<table class="w-100">
					<thead>
						<tr>
							<th>Articulo</th>
							<th>Serie</th>
							<th>Entrega</th>
							<th>Recolección</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let rii of reservation_info.items">
							<tr *ngFor="let ris of rii.serials">
								<td>{{rii?.category?.name}} {{rii.item.name}}</td>
								<td>{{ris.reservation_item_serial.serial}}</td>
								<td>{{ris.reservation_item_serial.delivered_timestamp | shortDate}}</td>
								<td>{{ris.reservation_item_serial.returned_timestamp | shortDate}}</td>
								<td class="text-end">
									<button type="button" class="btn btn-primary btn-sm" *ngIf="ris.reservation_item_serial.delivered_timestamp == null" (click)="markReservationItemSerialAsDelivered(ris)">
										Marcar Entregado
									</button>

									<button type="button" class="btn btn-primary btn-sm" *ngIf="ris.reservation_item_serial.returned_timestamp == null" (click)="markReservationItemSerialAsReturned(ris)">
										Marcar Recolectado
									</button>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</ng-container>
</div>
<app-modal [(show)]="show_assign_serials">
	<h2>Asignar Inventario</h2>
	<div style="min-height:400px">
		<div class="row">
			<app-code-reader (onDetect)="addSerial($event)"></app-code-reader>
			<!--div class="col-12 col-md-6">
				<input type="text" class="form-control" placeholder="Buscar..." name="search_serials"  [(ngModel)]="search_serials">
			</div>
			<div class="col-12 col-md-6">
				<button class="btn btn-primary" (click)="addSerial(search_serials)">Añadir</button>
			</div-->
		</div>
	</div>
</app-modal>
<app-modal [(show)]="show_assign_delivery">
	<div style="min-height:400px">
		<app-search-users [type]="'USER'" [null_user_string]="'cancelar'" [reset_on_search]="true" (user_selected)="onSelectDeliveryUser($event)"></app-search-users>
	</div>
</app-modal>
<app-modal [(show)]="show_assign_return">
	<div style="min-height:400px">
		<app-search-users [type]="'USER'" [null_user_string]="'cancelar'" [reset_on_search]="true" (user_selected)="onSelectReturnUser($event)"></app-search-users>
	</div>
</app-modal>
