<div class="container-fluid">
	<div class="row">
		<div class="col-10">
		</div>
		<div class="col-2">
			<a *ngIf="map_route.length>0" class="btn btn-secondary" [routerLink]="map_route">Ver Mapa</a>
		</div>
	</div>
	<h1 class="my-3">Reservaciones</h1>
	<div class="card p-3 my-3">
		<div class="row">
			<div class="col-12 col-md-3">
				<span>Nombre: </span>
				<div>
					<strong>{{reservation_info.reservation.client_name}}</strong>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<span>Fecha de Registro: </span>
				<div>
					<strong>{{reservation_info.reservation.created | shortDate}}</strong>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<span>Último Corte</span>
				<div>
					<strong>N/A</strong>
				</div>
			</div>
			<div class="col-12 col-md-3"  *ngIf="reservation_info.reservation.condition!='CLOSED'">
				<span></span>
				<div>
					<a [routerLink]="['/rentals/add-period', reservation_info.reservation.id]" class="btn btn-primary">Generar Corte</a>
					<button type="button" (click)="closeReservation()" class="btn btn-primary ms-1">Cerrar Reservacion</button>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="reservation_info.reservation.condition!='CLOSED'">
			<div class="col-12 col-md-6 form-group">
				<label>Fecha de entrega</label>
				<input type="datetime-local" name="scheduled_delivery" [ngModel]="scheduled_delivery" (ngModelChange)="updateScheduleDelivery($event)" class="form-control" [disabled]="disable_all">
			</div>
			<div class="col-12 col-md-6 form-group">
				<label>Fecha de Recolección</label>
				<input type="datetime-local" name="scheduled_return" [ngModel]="scheduled_return" (ngModelChange)="updateScheduleReturn($event)" class="form-control" [disabled]="disable_all">
			</div>
		</div>
		<div class="row mt-3" *ngIf="!disable_all">
			<div class="col-9 d-none d-md-block">&nbsp;</div>
			<div class="col-12 col-md-3 text-end">
				<button class="btn btn-primary mx-1" (click)="showAssignDelivery(reservation_info)">Asignar Entrega</button>
				<button class="btn btn-primary mx-1" (click)="showAssignReturn(reservation_info)">Asignar Recoleccion</button>
			</div>
		</div>
	</div>
	<h2 class="my-3">Artículos/Servicios</h2>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card p-3 mt-3">
		<div class="table-responsive d-none d-md-block">
			<table class="table table-bordered">
				<thead class="table-light">
					<tr>
						<th>Artículo</th>
						<th class="text-end">Cantidad</th>
						<th class="text-end">Entregados</th>
						<th class="text-end">Fecha de Entrega</th>
						<th class="text-end">Asignado Entrega</th>
						<th class="text-end">Fecha de Recolección</th>
						<th class="text-end">Cantidad Retornada</th>
						<th class="text-end">Asignado Recolección</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let ri of reservation_info.items">
						<tr *ngIf="ri.reservation_item.period_type!='ONCE_ONLY'">
							<td>{{ri.item.name}}</td>
							<td class="text-end">{{ri.reservation_item.qty}}</td>
							<td class="text-end">{{ri.reservation_item.delivered_qty}}</td>
							<td class="text-end">{{ri.reservation_item.scheduled_delivery | shortDate: 'local'}}</td>
							<td class="text-end">
								<div *ngFor="let dd of ri.delivery_assignments">{{dd.user.name}}</div>
							</td>
							<td class="text-end">{{ri.reservation_item.scheduled_return | shortDate: 'local'}}</td>
							<td class="text-end">{{ri.reservation_item.returned_qty}}</td>
							<td class="text-end">
								<div *ngFor="let dd of ri.return_assignments">{{dd.user.name}}</div>
							</td>
							<td class="text-end" *ngIf="reservation_info.reservation.condition!='CLOSED'">
								<ng-container *ngIf="!disable_all">
									<a class="btn btn-primary btn-sm m-1" (click)="showAssignSerials(ri)">Asignar Inventario</a>
									<button class="btn btn-primary btn-sm m-1" (click)="markReservationItemAsDelivered(ri)">Marcar Entregado</button>
									<button class="btn btn-primary btn-sm m-1" (click)="markReservationItemAsReturned(ri)">Marcar Regresado</button>
								</ng-container>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
		
		<!-- Vista para móviles -->
		<div class="d-block d-md-none">
			<ng-container *ngFor="let ri of reservation_info.items">
				<div class="card mb-3 p-2" *ngIf="ri.reservation_item.period_type!='ONCE_ONLY'">
					<div class="card-body">
						<h5 class="card-title">{{ri.item.name}}</h5>
						<p><strong>Cantidad:</strong> {{ri.reservation_item.qty}}</p>
						<p><strong>Entregados:</strong> {{ri.reservation_item.delivered_qty}}</p>
						<p><strong>Fecha de Entrega:</strong> {{ri.reservation_item.scheduled_delivery | shortDate: 'local'}}</p>
						<p><strong>Asignado Entrega:</strong></p>
						<ul class="list-unstyled">
							<li *ngFor="let dd of ri.delivery_assignments">- {{dd.user.name}}</li>
						</ul>
						<p><strong>Fecha de Recolección:</strong> {{ri.reservation_item.scheduled_return | shortDate: 'local'}}</p>
						<p><strong>Cantidad Retornada:</strong> {{ri.reservation_item.returned_qty}}</p>
						<p><strong>Asignado Recolección:</strong></p>
						<ul class="list-unstyled">
							<li *ngFor="let dd of ri.return_assignments">- {{dd.user.name}}</li>
						</ul>
						<div class="text-end" *ngIf="reservation_info.reservation.condition!='CLOSED'">
							<ng-container *ngIf="!disable_all">
								<a class="btn btn-primary btn-sm m-1" (click)="showAssignSerials(ri)">Asignar Inventario</a>
								<button class="btn btn-primary btn-sm m-1" (click)="markReservationItemAsDelivered(ri)">Marcar Entregado</button>
								<button class="btn btn-primary btn-sm m-1" (click)="markReservationItemAsReturned(ri)">Marcar Regresado</button>
							</ng-container>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
	<ng-container *ngIf="!disable_all">
		<h2 class="my-3">Agregar Extras</h2>
		<div class="card p-3">
			<div class="row">
				<div class="col-12">
					<label>Agregar artículo</label>
					<app-search-items (item_selected)="onItemSelected($event)" [reset_on_search]="true" [for_reservation]="false"></app-search-items>
				</div>
			</div>
			<form (submit)="addNewItem($event)"  ngNativeValidate>
				<div class="col-6 col-md-6" *ngIf="new_item_info">
					<div class="col-6 col-md-6" *ngIf="new_item_info">
						{{new_item_info | itemName}}
					</div>
					<div class="col-6 col-md-3">
						<label>Cantidad</label>
						<input type="number" class="form-control" name="new_item_qty" [(ngModel)]="new_item_qty" required>
					</div>
					<div>
						<div class="col-6 col-md-3">
							<button type="submit" class="btn btn-primary">Agregar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<h2 class="my-3">Extras</h2>
		<div class="card py-3 px-1 px-md-3">
			<table class="w-100">
				<ng-container *ngFor="let ri of reservation_info.items">
					<tr *ngIf="ri.reservation_item.period_type=='ONCE_ONLY' && ri.reservation_item.last_period_id == null">
						<td>{{ri?.item?.name}}</td>
						<td class="text-end">{{ri.reservation_item.qty}}</td>
						<td class="text-end">{{ri.reservation_item.scheduled_delivery | shortDate: 'local'}}</td>
						<td class="text-end"></td>
					</tr>
				</ng-container>
			</table>
		</div>
		<div class="col-12">
			<div class="row align-items-center">
				<div class="col-6">
					<h2 class="my-3">Inventario Asignado</h2>
				</div>
				<div class="col-6 text-end">
					<button type="button" class="btn btn-primary btn-sm m-1" (click)="markAllAsDelivered()">
						Entregar todo
					</button>
					<button type="button" class="btn btn-primary btn-sm m-1" (click)="markAllAsReturned()">
						Regresar Todo
					</button>
				</div>
			</div>
		
			<!-- Tabla en pantallas grandes -->
			<div class="card p-3 d-none d-md-block">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="table-light">
							<tr>
								<th>Artículo</th>
								<th>Serie</th>
								<th>Entrega</th>
								<th>Recolección</th>
								<th class="text-end">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let rii of reservation_info.items">
								<tr *ngFor="let ris of rii.serials">
									<td>{{rii?.category?.name}} {{rii.item.name}}</td>
									<td>{{ris.reservation_item_serial.serial}}</td>
									<td>{{ris.reservation_item_serial.delivered_timestamp | shortDate}}</td>
									<td>{{ris.reservation_item_serial.returned_timestamp | shortDate}}</td>
									<td class="text-end" *ngIf="reservation_info.reservation.condition!='CLOSED'">
										<button type="button" class="btn btn-primary btn-sm mx-1" 
											*ngIf="ris.reservation_item_serial.delivered_timestamp == null" 
											(click)="markReservationItemSerialAsDelivered(ris)">
											Marcar Entregado
										</button>
		
										<button type="button" class="btn btn-primary btn-sm mx-1" 
											*ngIf="ris.reservation_item_serial.returned_timestamp == null" 
											(click)="markReservationItemSerialAsReturned(ris)">
											Marcar Recolectado
										</button>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>
		
			<!-- Vista para móviles -->
			<div class="d-block d-md-none">
				<ng-container *ngFor="let rii of reservation_info.items">
					<div class="card mb-3 p-2" *ngFor="let ris of rii.serials">
						<div class="card-body">
							<h5 class="card-title">{{rii?.category?.name}} {{rii.item.name}}</h5>
							<p><strong>Serie:</strong> {{ris.reservation_item_serial.serial}}</p>
							<p><strong>Entrega:</strong> {{ris.reservation_item_serial.delivered_timestamp | shortDate}}</p>
							<p><strong>Recolección:</strong> {{ris.reservation_item_serial.returned_timestamp | shortDate}}</p>
							<div class="text-end" *ngIf="reservation_info.reservation.condition!='CLOSED'">
								<button type="button" class="btn btn-primary btn-sm mx-1" 
									*ngIf="ris.reservation_item_serial.delivered_timestamp == null" 
									(click)="markReservationItemSerialAsDelivered(ris)">
									Marcar Entregado
								</button>
								<button type="button" class="btn btn-primary btn-sm mx-1" 
									*ngIf="ris.reservation_item_serial.returned_timestamp == null" 
									(click)="markReservationItemSerialAsReturned(ris)">
									Marcar Recolectado
								</button>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</ng-container>
</div>
<app-modal [(show)]="show_assign_serials">
	<h2>Asignar Inventario</h2>
	<div style="min-height:400px">
		<div class="row" *ngIf="show_assign_serials">
			<app-code-reader (onDetect)="onCodeArrived($event)"></app-code-reader>
			<!--div class="col-12 col-md-6">
				<input type="text" class="form-control" placeholder="Buscar..." name="search_serials"  [(ngModel)]="search_serials">
			</div>
			<div class="col-12 col-md-6">
				<button class="btn btn-primary" (click)="addSerial(search_serials)">Añadir</button>
			</div-->
		</div>
	</div>
</app-modal>
<app-modal [(show)]="show_assign_delivery">
	<div style="min-height:400px">
		<app-search-users type="USER" null_user_string="cancelar" [reset_on_search]="true" (user_selected)="onSelectDeliveryUser($event)"></app-search-users>
	</div>
</app-modal>
<app-modal [(show)]="show_assign_return">
	<div style="min-height:400px">
		<app-search-users type="USER" null_user_string="cancelar" [reset_on_search]="true" (user_selected)="onSelectReturnUser($event)"></app-search-users>
	</div>
</app-modal>
