<div class="container-fluid d-print-none">
	<h1 class="d-print-none my-3">{{ payroll_info.payroll.id == 0 ? 'Crear' : 'Editar' }} Reporte de Nómina</h1>

	<div class="card p-3 ">
		<form class="row" (submit)="searchWorkLogs()">
			<div class="col-12 col-md-3">
				<div class="form-group">
					<label for="search_start_date">Fecha Inicial</label>
					<input type="date" name="start_date" class="form-control" (ngModelChange)="onFechaInicialChange($event)" [(ngModel)]="start_date" id="search_start_date" required [disabled]="payroll_info.payroll.paid_status == 'PAID'">
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-group">
					<label for="search_end_date">Fecha Final</label>
					<input type="date" name="end_date" class="form-control" (ngModelChange)="onFechaFinalChange($event)" [(ngModel)]="end_date" id="search_end_date" required [disabled]="payroll_info.payroll.paid_status == 'PAID'">
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-group">
					<label>Usuario</label>
					<select name="user_id" class="form-control" [(ngModel)]="user_id" [disabled]="payroll_info.payroll.id != 0" required>
						<option [value]="null">Seleccionar</option>
						<ng-container *ngFor="let user of users_list">
							<option [value]="user.id">{{user.name}}</option>
						</ng-container>
					</select>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-group">
					<label>&nbsp;</label>
					<button type="submit" class="btn btn-primary w-100" *ngIf="payroll_info.payroll.paid_status != 'PAID'">Buscar</button>
				</div>
			</div>
		</form>
	</div>

	<div class="card p-3 my-3 ">

		<div class="col-12" *ngIf="payroll_info.work_logs.length == 0">
			No se encontraron registros de asistencia
		</div>

		<form class="col-12" (submit)="savePayroll($event)" *ngIf="payroll_info.work_logs.length > 0">
			<div class="table-responsive">
				<table class="table table-bordered" style="min-width: 350px;">
					<thead>
						<tr>
							<th>Dia</th>
							<th>Fecha</th>
							<th>Monto</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let wl of payroll_info.work_logs">
							<td>{{ wl.day_name }}</td>
							<td>{{ wl.date | shortDate: "date" }}</td>
							<td class="text-end">{{ wl.total_payment | currency:"$" }}</td>
						</tr>
						<tr>
							<td colspan="2" class="text-end"><b>Subtotal</b></td>
							<td class="text-end fw-bold">{{ payroll_info.payroll.subtotal | currency: "$" }}</td>
						</tr>
						<tr *ngFor="let pcv of payroll_info.payroll_concept_values">
							<td colspan="2" class="text-end">{{pcv.type == "PERCEPTION" ? '(+)' : "(-)"}} {{ pcv.payroll_concept_name }}</td>
							<div class="input-group p-0">
								<span class="input-group-text">$</span> 
								<input type="number" class="form-control text-end" (change)="calculatePayrollTotal()" name="payroll_concept_values[{{ pcv.payroll_concept_id }}]" [(ngModel)]="pcv.value" [disabled]="payroll_info.payroll.paid_status == 'PAID'">
							</div>
						<tr>
							<td colspan="2" class="text-end fw-bold">Total</td>
							<td class="text-end">
								<b>{{ payroll_info.payroll.total | currency: "$" }}</b>	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12 text-end">
				<button type="submit" class="btn mx-2 btn-primary" *ngIf="payroll_info.payroll.paid_status != 'PAID'">Guardar</button>
				<button type="button" class="btn btn-secondary" (click)="justPrint()" *ngIf="payroll_info.payroll.paid_status == 'PAID'" >Imprimir</button>
			</div>
		</form>
	</div>
</div>

<div class="d-none d-print-flex row">
	<div class="col-12 text-center">
		<img [src]="rest.getImagePath(rest.local_preferences.default_ticket_image_id)" class="w-25">
	</div>
	<div class="col-12 mt-2">
		<h2 class="text-center">Reporte de Nómina</h2>
	</div>
	<div class="col-12">
		<b>Fecha creación:</b> {{ payroll_info.payroll.created| shortDate: "date" }}
	</div>
	<div class="col-12">
		<b>Empleado:</b> {{ selected_user ? selected_user.name : ''}}
	</div>
	<div class="col-12 mb-2">
		<b>Período:</b> {{ payroll_info.payroll.start_date | shortDate: "date" }} - {{ payroll_info.payroll.end_date| shortDate: "date" }}
	</div>

	<div class="col-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Fecha</th>
					<th>Monto</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let wl of payroll_info.work_logs">
					<td>{{ wl.day_name }}</td>
					<td>{{ wl.date | shortDate: "date" }}</td>
					<td class="text-end">{{ wl.total_payment | currency:"$" }}</td>
				</tr>
				<tr>
					<td colspan="2" class="text-end"><b>Subtotal</b></td>
					<td class="text-end fw-bold">{{ payroll_info.payroll.subtotal | currency: "$" }}</td>
				</tr>
				<tr *ngFor="let pcv of payroll_info.payroll_concept_values">
					<td colspan="2" class="text-end">{{pcv.type == "PERCEPTION" ? '(+)' : "(-)"}} {{ pcv.payroll_concept_name }}</td>
					<td class="text-end">
						{{ pcv.value | currency: "$" }}
					</td>
				<tr>
					<td colspan="2" class="text-end fw-bold">Total</td>
					<td class="text-end">
						<b>{{ payroll_info.payroll.total | currency: "$" }}</b>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-12 text-center mt-5">
		<p class="p-0 m-0">_______________________________</p>
		<p class="p-0 m-0">{{selected_user ? selected_user.name : ''}}</p>
	</div>
</div>
