<div class="container-fluid">
	<div class="row my-3 align-items-center">
		<div class="col-8">
			<h1>Variables del usuario</h1>
		</div>
		<div class="col-4 text-end">
			<button class="btn btn-primary" (click)="addExtraField()">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"/></svg>
				Agregar
			</button>
		</div>
	</div>

	<div class="card p-3">
		<div class="row">
			<div class="col-4 fw-bold">
				Clave
			</div>
			<div class="col-7 fw-bold">
				Valor
			</div>
			<div class="col-1 fw-bold text-end">
				Acciones
			</div>
		</div>
		<form class="row" (submit)="save($event)">
			<ng-container *ngFor="let ef of array_extra_fields;let i=index">
				<div class="col-4 my-1">
					<input type="text" class="form-control" [(ngModel)]="ef.key" name="{{'key'+i}}">
				</div>
				<div class="col-7 my-1">
					<input type="text" class="form-control" [(ngModel)]="ef.value" name="{{'value'+i}}">
				</div>
				<div class="col-1 my-1 text-end">
					<button type="button" class="btn btn-primary" (click)="removeExtraField(i)">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 256 256"><path fill="currentColor" d="M216 48h-40v-8a24 24 0 0 0-24-24h-48a24 24 0 0 0-24 24v8H40a8 8 0 0 0 0 16h8v144a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V64h8a8 8 0 0 0 0-16M112 168a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm48 0a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm0-120H96v-8a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8Z"/></svg>
					</button>
				</div>
			</ng-container>
			<div class="col-12 mt-3 text-end">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</div>

