<div class="container-fluid py-3">
	<h2>Agregar Corte #{{reservation_info.reservation.id}} {{reservation_info.reservation.client_name}}</h2>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card py-3 px-1 px-md-3">
		<div>
		</div>
		<form (submit)="save($event)" ngNativeValidate>
			<div class="row align-items-center">
				<div class="col-12 col-md-2 fw-bold">Articulo</div>
				<div class="col-12 col-md-1 fw-bold">Cantidad</div>
				<div class="col-12 col-md-2 fw-bold">Cantidad periodo</div>
				<div class="col-12 col-md-2 fw-bold">Precio</div>
				<div class="col-12 col-md-2 fw-bold">Total</div>
			</div>
			<div class="row align-items-center" *ngFor="let ri of custom_items">
				<div class="col-12 col-md-2">
					{{ri.reservation_item_info.item.name}}
				</div>
				<div class="col-12 col-md-1">
					<input type="number" name="'ri_qty'+ri.reservation_item.id" [(ngModel)]="ri.qty" class="form-control" (ngModelChange)="updatePrice(ri)" required>
				</div>
				<div class="col-12 col-md-1">
					<input type="number" name="'ri_qty_period'+ri.reservation_item.id" [(ngModel)]="ri.qty_period" (ngModelChange)="updatePrice(ri)" class="form-control" required>
				</div>
				<div class="col-12 col-md-1">{{ri.period}}</div>
				<div class="col-12 col-md-2">
					<input type="number" name="'ri_price'+ri.reservation_item.id" [(ngModel)]="ri.price" (ngModelChange)="updatePrice(ri)" class="form-control" required>
				</div>
				<div class="col-12 col-md-2">
					<input type="number" name="'ri_total'+ri.reservation_item.id" [(ngModel)]="ri.total" (ngModelChange)="updatePrice(ri)" class="form-control" required>
				</div>
			</div>
			<div class="text-end mt-3">
				<button type="submit" class="btn btn-primary">Agregar Corte</button>
			</div>
		</form>
	</div>
</div>
