<div class="container-fluid">
  <h1 class="my-3 text-capitalize">{{process.id ? 'Actualizar':'Agregar'}} process</h1>
  <form ngNativeValidate (submit)="save()">
    <div class="card p-3">
      <div class="row p-3">
        <div class="col-12 col-md-4 form-group">
          <label class="">Area de Produccion</label>
          <div class="fw-bold">{{production_area.name}}</div>
        </div>
        <div class="col-12 col-md-4 form-group">
          <label class="">Nombre del Proceso</label>
          <input type="text" name="name" [(ngModel)]="process.name" class="form-control">
        </div>
        <div class="col-12 col-md-4 form-group">
          <label class="">Categoria</label>
          <select name="process_category" [(ngModel)]="process.category_id" class="form-control">
            <option [ngValue]="null">Todos</option>
            @for (c of category_list; track c) {
              <option [ngValue]="c.id">{{c.id}} - {{c.name}}</option>
            }
          </select>
        </div>
        <div class="col-12 col-md-4 form-group">
          <label class="">Articulo</label>
          <select name="process_item" [(ngModel)]="process.item_id" class="form-control">
            <option [ngValue]="null"></option>
            @for (c of citem_list; track c) {
              <option [ngValue]="c.item.id">{{c.item.id}} - {{c?.category?.name}} {{c.item.name}}</option>
            }
          </select>
        </div>
        <div class="d-flex d-md-none col-6"></div>
        <div class="col-12 col-md-4 text-right">
          <label>&nbsp;</label>
          <div>
            <button type="submit" [disabled]="is_loading" class="btn btn-primary w-100">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



Task->task2-------->task 4
Task->Task3-------->task 4




