<div class="card mt-3">
	<div class="card-body">
		<form id="codeReaderForm" (ngSubmit)="manualSubmit()">
			<div class="mb-3">
				<button class="btn btn-primary" (click)="toggleMode()" type="button">
					{{ isScannerMode ? 'Cambiar a Modo Manual' : 'Cambiar a Modo Scanner' }}
				</button>
			</div>

			<div *ngIf="isScannerMode">
				<video></video>
			</div>

			<div *ngIf="!isScannerMode">
				<input type="text" [(ngModel)]="manualCode" class="form-control" placeholder="Escriba el código" name="manualCode" />
				<button class="btn btn-primary mt-2" type="submit">Agregar</button>
			</div>
		</form>
	</div>
</div>
