<div class="menu-title text-center mt-3">
    <h2 class="mb-1">Menú.</h2>
    <hr class="m-0">
</div>

<!-- Aquí inicia la "ul" para las opciones del menu -->
<div class="main-content">
    <ul class="side-nav mb-auto">
        <li *ngIf="rest.user_permission.add_items">
            <a class="nav-link" routerLink="list-production-area" routerLinkActive="active">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M9 2v6h2v3H5c-1.11 0-2 .89-2 2v3H1v6h6v-6H5v-3h6v3H9v6h6v-6h-2v-3h6v3h-2v6h6v-6h-2v-3c0-1.11-.89-2-2-2h-6V8h2V2z" />
                </svg>
                Areas de producción
            </a>
        </li>
    </ul>
</div>
<!-- Aquí termina la "ul" -->
 
<div class="menu-footer">
    <hr class="m-0">
    Versión: <br>
    <b>{{build_info.timestamp | date:'yyMMdd:HHmm':'UTC'}}-{{build_info.timestamp | date:'hhmm'}}</b>
</div>