<div class="menu-title text-center mt-3">
	<h2 class="mb-1">Menú</h2>
	<hr class="m-0">
</div>
<div class="simplebar-content-wrapper w-100" style="height: 100%; overflow: hidden auto;">
	<div class="simplebar-content" style="padding: 0px 0px 100px 0" id="collapse_parent">
		<ul class="metismenu side-nav mm-show">
			@for (item of menu_items$ | async; track item) {
				<li class="side-nav-item">
					@if (item.children) {
						<span class="side-nav-link d-flex justify-content-between align-items-center pointer" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#' + item.label">
							<span>
								<i class="svg-icon" [innerHTML]="item.icon | safe:'html'"></i>
								<span>{{ item.label }}</span>
							</span>
							<span style="font-size:12px" class="link-arrow">
								<svg aria-hidden="true" width="1em" height="1em" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" fill="currentColor"></path></svg>
							</span>
						</span>
						<div [id]="item.label" class="collapse ps-3" data-bs-parent="#collapse_parent">
							<ul class="flex-column nav">
								@for (child of item.children; track child) {
									<li class="side-nav-item">
										<a [routerLink]="child.link" class="side-nav-link" aria-expanded="false" routerLinkActive="active">
											<i class="svg-icon" [innerHTML]="child.icon | safe:'html'"></i>
											<span>{{ child.label }}</span>
										</a>
									</li>
								}
							</ul>
						</div>
					} @else {
						<a [routerLink]="item.link" class="side-nav-link" aria-expanded="false" routerLinkActive="active">
							<i class="svg-icon" [innerHTML]="item.icon | safe:'html'"></i>
							<span>{{ item.label }}</span>
						</a>
					}
				</li>
			}
		</ul>
	</div>
</div>
<div class="menu-footer">
	<hr class="m-0">
	Versión: <br>
	<b>{{build_info.timestamp | date:'yyMMdd:HHmm':'UTC'}}-{{build_info.timestamp | date:'hhmm'}}</b>
</div>
