<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col-12 col-md-6">
			<h1 class="my-3">Registro de Nóminas</h1>
		</div>
		<div class="col-12 col-md-6 text-end">
			<a class="btn btn-primary mx-2" routerLink="/create-payroll">Agregar</a>
			<a class="btn btn-primary" routerLink="/save-payroll-concept">
				<span> Conceptos </span>
				<svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="currentColor" d="M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
			</a>
		</div>
	</div>
	

	<div class="card p-3">
		<form class="row">
			<div class="col-12 col-md-3 form-group">
				<label for="store_id">Sucursal</label>
				<select name="store_id" class="form-control" required>
					<option [value]="null">Seleccionar</option>
					<!-- <ng-container *ngFor="let store of stores_list">
						<option [value]="store.id">{{store.name}}</option>
					</ng-container> -->
				</select>
			</div>
		</form>
	</div>
</div>
