<div class="container-fluid">
	<h1 class="my-3 text-capitalize">{{production_area.id ? 'Actualizar':'Agregar'}} Area de Producción</h1>
	<form ngNativeValidate (submit)="save($event)">
		<div class="card p-3">
			<div class="row p-3">
				<div class="col-6 col-md-4">
					<label class="">Nombre</label>
					<input type="text" name="name" [(ngModel)]="production_area.name" class="form-control">
				</div>
				<div class="col-6 col-md-4">
					<label class="">Sucursal</label>
					<select>
						<option *ngFor="let s of store_list" [value]="s.id">{{s.name}}</option>
					</select>
				</div>
			</div>
			<div class="row p-3">
				<div class="col-12 text-right">
					<button type="submit"	[disabled]="is_loading" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>
