<div class="d-flex main_background" style="min-height: 100vh; overflow: hidden;">
	<div class="sidebar-container text-white bg-dark" style="min-height: 100dvh; width: 230px;" [ngClass]="{'col-2': rest.show_menu, 'd-inline': rest.show_menu}">
		<a href="/" class="d-flex align-items-center mt-2 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<svg class="bi me-1" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
			<span class="fs-5">{{rest.preferences.name}}</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<!--li class="nav-item">
				<a class="nav-link text-white" aria-current="page" routerLink="list-production-area" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
					Areas de producción
				</a>
			</li>
			<li>
				<a class="nav-link text-white" [routerLink]="['list-proccess']">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
					Procedimientos
				</a>
			</li -->
			<li>
				<a class="nav-link text-white" routerLink="list-requisition" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					Producción
				</a>
			</li>
			<li>
				<a class="nav-link text-white" routerLink="users-checking-clock" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					Lista Asistencia
				</a>
			</li>
			<li>
				<a class="nav-link text-white" routerLink="users-attendance" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					Asistencia
				</a>
			</li>
			<li>
				<a class="nav-link text-white" routerLink="validate-production" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					Validar Producción
				</a>
			</li>
			<li>
				<a class="nav-link text-white" routerLink="list-shipping" routerLinkActive="active">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					Distribuir
				</a>
			</li>
			<hr>
			<li *ngIf="rest.user">
				<a class="nav-link text-white" type="button" (click)="rest.logout()">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					<b>Cerrar Sesión</b>
				</a>
			</li>
			<li *ngIf="!rest.user">
				<a href="/" class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
					<b>Iniciar Sesión</b>
				</a>
			</li>
		</ul>
	</div>
	<div class="col p-2" style="overflow: hidden;">
		<button style="margin-top: 7px" class="btn btn-secondary" (click)="rest.toggleMenu()">
			<!-- <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/></svg> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"/></svg>
		</button>
		<router-outlet></router-outlet>
	</div>
</div>
<div class="d-print-none"><app-toast-error></app-toast-error></div>
<app-modal [(show)]="confirmation.show_confirmation">
	<div class="p-3">
		<h4>{{confirmation.title}}</h4>
		<p>{{confirmation.description}}</p>
		<div class="row">
			<div class="col-6 text-center">
				<button type="button" class="btn btn-secondary w-100"
					(click)="confirmation.onCancel()">
					{{confirmation.cancel_button}}
				</button>
			</div>
			<div class="col-6">
				<button type="button" class="btn btn-primary w-100"
					(click)="confirmation.onAccept()" >
					{{confirmation.ok_button}}
				</button>
			</div>
		</div>
	</div>
</app-modal>
