<div class="d-flex main_background">
	<div class="p-0 h-100" style="min-heigh: 200vh">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;min-height:100vh">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
				<span class="fs-4">{{rest.preferences.name}}</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<!--li class="nav-item">
					<a class="nav-link text-white" aria-current="page" routerLink="list-production-area" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
						Areas de producción
					</a>
				</li>
				<li>
					<a class="nav-link text-white" [routerLink]="['list-proccess']">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
						Procedimientos
					</a>
				</li -->
				<li>
					<a class="nav-link text-white" routerLink="list-requisition" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						Producción
					</a>
				</li>
				<li>
					<a class="nav-link text-white" routerLink="users-checking-clock" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						Lista Asistencia
					</a>
				</li>
				<li>
					<a class="nav-link text-white" routerLink="users-attendance" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						Asistencia
					</a>
				</li>
				<li>
					<a class="nav-link text-white" routerLink="validate-production" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						Validar Producción
					</a>
				</li>
				<li>
					<a class="nav-link text-white" routerLink="list-shipping" routerLinkActive="active">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						Distribuir
					</a>
				</li>
				<hr>
				<li *ngIf="rest.user">
					<a class="nav-link text-white" type="button" (click)="rest.logout()">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						<b>Cerrar Sesión</b>
					</a>
				</li>
				<li *ngIf="!rest.user">
					<a href="/" class="nav-link text-white">
						<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
						<b>Iniciar Sesión</b>
					</a>
				</li>

			</ul>
		</div>
	</div>
	<div class="p-2 flex-fill">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="d-print-none"><app-toast-error></app-toast-error></div>
<app-modal [(show)]="confirmation.show_confirmation">
	<div class="p-3">
		<h4>{{confirmation.title}}</h4>
		<p>{{confirmation.description}}</p>
		<div class="row">
			<div class="col-6 text-center">
				<button type="button" class="btn btn-secondary w-100"
					(click)="confirmation.onCancel()">
					{{confirmation.cancel_button}}
				</button>
			</div>
			<div class="col-6">
				<button type="button" class="btn btn-primary w-100"
					(click)="confirmation.onAccept()" >
					{{confirmation.ok_button}}
				</button>
			</div>
		</div>
	</div>
</app-modal>
