@if (order_info_list.length) {
  <div class="card p-3">
    <table class="w-100">
      @for (oi of order_info_list; track oi) {
        @for (oii of oi.structured_items; track oii; let i = $index) {
          <tr [ngClass]="{'border-bottom': i==oi.structured_items.length-1}">
            <td>{{oi.order.id}} - {{oi.order.client_name }}</td>
            <td>{{oi.order.note}}</td>
            <td>{{oii.item.name}}</td>
            <td>{{oii.order_item.qty}}</td>
            <td>{{oii.order_item.note}}</td>
            <td>{{oii.order_item.commanda_status == 'DISMISSED' ? 'LISTO' : 'PENDIENTE'}}</td>
            <td>
              @if (oii.order_item.commanda_status != 'DISMISSED') {
                <button (click)="setAsReady(oii)" class="btn btn-primary">Listo</button>
              }
              @if (oii.order_item.commanda_status == 'DISMISSED') {
                <button (click)="setAsPending(oii)" class="btn btn-primary">Pendiente</button>
              }
            </td>
          </tr>
        }
      }
    </table>
  </div>
}
