<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h1 class="my-3">{{role.id ? 'Update':'Add'}} Role</h1>
		</div>
	</div>
	<app-loading [is_loading]="is_loading"></app-loading>
	<div class="card p-3 mt-3">
		<form (ngSubmit)="save($event)">
			<div class="row">
				<div class="col-12 form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" [(ngModel)]="role.name">
				</div>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-secondary me-2" (click)="location.back()">Cancel</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
</div>
