<div class="container-fluid">
	<h1 class="my-3">Registro Diario de Pago</h1>
	<div class="card p-3">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="search_date">Fecha</label>
					<input type="date" [(ngModel)]="search_date" (ngModelChange)="onDateChange($event, search_work_log_obj.eq, 'date')" class="form-control" id="search_date">
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label>&nbsp;</label>
					<button class="btn btn-primary w-100" (click)="search(search_work_log_obj)" >Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card p-3 my-3">
		<div class="row">
			<div class="col-6 col-sm-4 col-lg text-center">
				<div class="">Art. Prod.</div>
				<div class="fw-bold fs-2">{{items_total}}</div>
			</div>
			<div class="col-6 col-sm-4 col-lg text-center">
				<div class="">Total Merma</div>
				<div class="fw-bold fs-2">{{merma_total}}</div>
			</div>
			<div class="col-6 col-sm-4 col-lg text-center">
				<div class="">Total Producido</div>
				<div class="fw-bold fs-2">{{production_total}}</div>
			</div>
			<div class="col-6 col-sm-6 col-lg text-center">
				<div class="">Total Costo</div>
				<div class="fw-bold fs-2">{{cost_total | currency: "$"}}</div>
			</div>
			<div class="col-12 col-sm-6 col-lg text-center">
				<div class="">Total Monto</div>
				<div class="fw-bold fs-2">{{payment_total | currency: "$" }}</div>
			</div>
		</div>
	</div>

	<div class="card p-3 my-3">
		<div class="fw-bold fs-4">Detalle por usuario</div>
		<form (submit)="submit($event)" ngNativeValidate>
			<div class="table-responsive">
				<table class="table table-sm table-nowrap mb-0">
					<thead class="thead-light">
						<tr>
							<th>Usuario</th>
							<th class="text-end">Horas Totales</th>
							<th class="text-end">Horas Extras</th>
							<th class="text-end">Producido</th>
							<th class="text-end">Costo Total</th>
							<ng-template [ngIf]="Cuser_production_report_list.length > 0">
								<th class="text-end" *ngFor="let jv of Cuser_production_report_list[0].json_values | keyvalue">{{jv.key | customToTitle: 'snake_case'}}</th>
							</ng-template>
							<th class="text-end">Total Pago</th>
						</tr>
					</thead>
					<tbody>
						<ng-template [ngIf]="Cuser_production_report_list.length == 0">
							<tr>
								<td colspan="100" class="text-center">No hay registros de asistencia</td>
							</tr>
						</ng-template>
							<tr *ngFor="let upr of Cuser_production_report_list">
								<td>{{upr.user.name}}</td>
								<td class="text-end">{{upr.total_hours}}</td>
								<td class="text-end">{{upr.total_extra_hours}}</td>
								<td class="text-end">{{upr.production_qty}}</td>
								<td class="text-end">{{upr.cost | currency: "$"}}</td>
								<td class="text-end" *ngFor="let jv of upr.json_values | keyvalue">
										{{jv.value | currency: "$"}}
								</td>		
								<td class="input-group text-end">
									<span class="input-group-text d-none d-sm-block">$</span>
									<input type="number" [name]="'total_payment'+upr.user.id" (ngModelChange)="setValue($event, upr)" placeholder="$0.00" class="form-control text-end" style="min-width: 80px;" [ngModel]="upr.total_payment" step="any" required>
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<div class="text-end" *ngIf="Cuser_production_report_list.length > 0">
				<button class="btn btn-primary text-end" type="submit">Guardar</button>
			</div>
		</form>
	</div>

	<div class="card p-3 my-3 ">

		<div class="fw-bold fs-4">Detalle por artículo</div>

		<div class="table-responsive">
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th>Nombre</th>
						<th class="text-end">Merma</th>
						<th class="text-end">Total Prod.</th>
						<th class="text-end">Costo</th>
						<th class="text-end">Costo Total</th>
					</tr>
				</thead>
				<tbody>
					<ng-template [ngIf]="CItem_production_report_list.length == 0">
						<tr>
							<td colspan="100" class="text-center">No hay registros de producción validada</td>
						</tr>
					</ng-template>
					<ng-template [ngIf]="CItem_production_report_list.length > 0">
						<tr *ngFor="let ipr of CItem_production_report_list">
							<td>{{ipr.item.item.name}}</td>
							<td class="text-end">{{ipr.merma}}</td>
							<td class="text-end">{{ipr.production}}</td>
							<td class="text-end">{{ipr.item.item.reference_price | currency: "$"}}</td>
							<td class="text-end">{{ipr.total_cost | currency: "$"}}</td>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>
	</div>
</div>