<app-page-structure [showTitle]="true" [title]="'Save Production Role Price'">
    <div class="page-content">
        <form (submit)="onSubmit($event)" ngNativeValidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
 <label for="production_role" class="form-label">Production Role</label>
 <select id="production_role" class="form-select" [(ngModel)]="production_role_price.production_role_id" name="production_role" required>
 <option *ngFor="let role of production_roles" [ngValue]="role.id">{{ role.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
 <label for="production_area" class="form-label">Production Area</label>
 <select id="production_area" class="form-select" [(ngModel)]="production_role_price.production_area_id" name="production_area" required>
 <option *ngFor="let area of production_areas" [ngValue]="area.id">{{ area.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
 <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" class="form-control" [(ngModel)]="productionRolePrice.Price" name="price" required min="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-secondary me-md-2" (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-page-structure>
