<div class="container-fluid">
	<div class="row align-items-end mx-0">
		<div class="col">
		<h1 class="my-3 text-capitalize">Área de Producción <span class="fw-bold">{{production_area.name }}</span></h1>
		</div>
	</div>

	<!-- PROCESOS DE PRODUCCION, PENDING -->
	<!-- <div class="row my-2">
		<div class="col-9">
			<h3>Procesos de producción</h3>
		</div>
		<div class="col-3 text-end">
			<a class="btn btn-primary" [routerLink]="['/add-process',production_area.id]">Agregar Nuevo</a>
		</div>
	</div>
	<div class="card p-3 mt-3">
		<div class="table-responsive">
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th>Nombre</th>
						<th>Creacion</th>
						<th class="text-end">Actualización</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let process of process_list">
						<td>
							<a [routerLink]="['/view-production-area',production_area.id]">
								{{process.id}} - {{process.name}}
							</a>
						</td>
						<td>{{process.created | date: 'MMM d, y' }}</td>
						<td class="text-end">{{process.updated | date: 'MMM d, y,	h:mm a' }}</td>
						<td class="text-end">
							<a [routerLink]="['/edit-process',process.id]">Editar</a>
						</td>
					</tr>
					<tr *ngIf="process_list.length == 0 && !is_loading" colspan="4">
						<div class="alert alert-light m-3" role="alert">No se encontraron elementos</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->

	<div class="row my-2">
		<div class="col-6">
			<h3>Usuarios</h3>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-4 text-end">
					<span class="fw-bold">Asignar usuario:</span>
				</div>
				<div class="col-8">
					<app-search-users (user_selected)="addProductionAreaUser($event)" [type]="'USER'" [reset_on_search]="true"></app-search-users>	
				</div>
			</div>
		</div>
	</div>

	<div class="card p-3 mt-3 mb-3">
		<div class="table-responsive">
			<app-loading [is_loading]="is_loading"></app-loading>
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th class="">ID</th>
						<th>Nombre</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of user_list">
						<td>{{user.id}}</td>
						<td>{{user.name}}</td>
						<td class="text-end">
							<button type="button" class="btn btn-secondary me-1" (click)="showUserExtraFields(user)">
								<svg aria-hidden="true" width="1em" height="1em" focusable="false" data-prefix="fas" data-icon="pencil" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" class=""></path></svg>
								Editar
							</button>
							<button type="button" class="btn btn-danger" (click)="deleteProductionAreaUser(user)">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M1.707.293A1 1 0 0 0 .293 1.707L5.586 7L.293 12.293a1 1 0 1 0 1.414 1.414L7 8.414l5.293 5.293a1 1 0 0 0 1.414-1.414L8.414 7l5.293-5.293A1 1 0 0 0 12.293.293L7 5.586z" clip-rule="evenodd"/></svg>
								Eliminar
							</button>
						</td>
					</tr>
					<tr *ngIf="user_list.length == 0 && !is_loading" colspan="4">
						<div class="alert alert-light m-3" role="alert">No se encontraron usuarios asignados</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-6">
			<h3>Artículos de producción</h3>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-4 text-end">
					<span class="fw-bold">Agregar artículo:</span>
				</div>
				<div class="col-8">
					<app-search-items (item_selected)="onItemSelected($event)" [reset_on_search]="true"></app-search-items>
				</div>
			</div>
		</div>
	</div>
	<div class="card p-3 mt-3">
		<div class="table-responsive">
			<app-loading [is_loading]="is_loading"></app-loading>
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th>Nombre</th>
						<th>Creacion</th>
						<th class="text-end">Actualización</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cpai of cproduction_area_item_list">
						<td>
							{{cpai.name}}
						</td>
						<td>{{cpai.created | shortDate: 'date' }}</td>
						<td class="text-end">{{cpai.updated | shortDate: 'full' }}</td>
						<td class="text-end">
							<button type="button" class="btn btn-danger" (click)="deleteProductionAreaItem(cpai)">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M1.707.293A1 1 0 0 0 .293 1.707L5.586 7L.293 12.293a1 1 0 1 0 1.414 1.414L7 8.414l5.293 5.293a1 1 0 0 0 1.414-1.414L8.414 7l5.293-5.293A1 1 0 0 0 12.293.293L7 5.586z" clip-rule="evenodd"/></svg>
								Eliminar
							</button>
						</td>
					</tr>
					<tr *ngIf="cproduction_area_item_list.length == 0 && !is_loading" colspan="4">
						<div class="alert alert-light m-3" role="alert">No se encontraron elementos</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<app-modal [show]="show_user_extra_fields" [biggest_posible]="true" [closable]="false">
	<div class="card p-3">
		<div class="row align-items-center">
			<div class="col">
				<h2 class="my-3 text-capitalize">Valores del usuario</h2>
			</div>
			<div class="col text-end">
				<button type="button" (click)="addRule()" class="btn btn-secondary me-1">Agregar</button>
			</div>
		</div>
		<div class="row">
			<div class="col-4 fw-bold">
				Clave
			</div>
			<div class="col-7 fw-bold">
				Valor
			</div>
			<ng-container *ngFor="let ef of selected_user.extra_fields;let i=index">
				<div class="col-4 my-1">
					<input type="text" class="form-control" [(ngModel)]="ef.key" name="{{'key'+i}}">
				</div>
				<div class="col-7 my-1">
					<input type="text" class="form-control" [(ngModel)]="ef.value" name="{{'value'+i}}">
				</div>
				<div class="col-1 my-1 text-end">
					<button type="button" class="btn btn-primary" (click)="removeRule(i)">
						<svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 256 256"><path fill="currentColor" d="M216 48h-40v-8a24 24 0 0 0-24-24h-48a24 24 0 0 0-24 24v8H40a8 8 0 0 0 0 16h8v144a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V64h8a8 8 0 0 0 0-16M112 168a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm48 0a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm0-120H96v-8a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8Z"/></svg>
					</button>
				</div>
			</ng-container>
			<ng-container *ngIf="selected_user.extra_fields.length <= 0">
				No se encontraron elementos
			</ng-container>
		</div>
		<div class="row mt-3 text-end">
			<div class="col-6">
				<button type="button" class="btn btn-secondary w-100" (click)="closeUserExtraFields()">Cancelar</button>
			</div>
			<div class="col-6">
				<button type="button" class="btn btn-primary w-100" (click)="saveUserExtraFields(selected_user)">Guardar</button>
			</div>
		</div>
	</div>
</app-modal>
