<div class="container-fluid">
	<div class="row align-items-end mx-0">
		<div class="col">
		<h1 class="my-3 text-capitalize">Área de Producción <span class="fw-bold">{{production_area.name }}</span></h1>
		</div>
	</div>

	<!-- PROCESOS DE PRODUCCION, PENDING -->
	<!-- <div class="row my-2">
		<div class="col-9">
			<h3>Procesos de producción</h3>
		</div>
		<div class="col-3 text-end">
			<a class="btn btn-primary" [routerLink]="['/add-process',production_area.id]">Agregar Nuevo</a>
		</div>
	</div>
	<div class="card p-3 mt-3">
		<div class="table-responsive">
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th>Nombre</th>
						<th>Creacion</th>
						<th class="text-end">Actualización</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let process of process_list">
						<td>
							<a [routerLink]="['/view-production-area',production_area.id]">
								{{process.id}} - {{process.name}}
							</a>
						</td>
						<td>{{process.created | date: 'MMM d, y' }}</td>
						<td class="text-end">{{process.updated | date: 'MMM d, y,	h:mm a' }}</td>
						<td class="text-end">
							<a [routerLink]="['/edit-process',process.id]">Editar</a>
						</td>
					</tr>
					<tr *ngIf="process_list.length == 0 && !is_loading" colspan="4">
						<div class="alert alert-light m-3" role="alert">No se encontraron elementos</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->

	<div class="row my-2">
		<div class="col-6">
			<h3>Artículos de producción</h3>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-4 text-end">
					<span class="fw-bold">Agregar Nuevo:</span>
				</div>
				<div class="col-8">
					<app-search-items (item_selected)="onItemSelected($event)" [reset_on_search]="true"></app-search-items>
				</div>
			</div>
		</div>
	</div>
	<div class="card p-3 mt-3">
		<div class="table-responsive">
			<app-loading [is_loading]="is_loading"></app-loading>
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
						<th>Nombre</th>
						<th>Creacion</th>
						<th class="text-end">Actualización</th>
						<th class="text-end">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cpai of cproduction_area_item_list">
						<td>
							{{cpai.name}}
						</td>
						<td>{{cpai.created | shortDate: 'date' }}</td>
						<td class="text-end">{{cpai.updated | shortDate: 'full' }}</td>
						<td class="text-end">
							<button type="button" class="btn btn-danger" (click)="deleteProductionAreaItem(cpai)">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M1.707.293A1 1 0 0 0 .293 1.707L5.586 7L.293 12.293a1 1 0 1 0 1.414 1.414L7 8.414l5.293 5.293a1 1 0 0 0 1.414-1.414L8.414 7l5.293-5.293A1 1 0 0 0 12.293.293L7 5.586z" clip-rule="evenodd"/></svg>
								Eliminar
							</button>
						</td>
					</tr>
					<tr *ngIf="cproduction_area_item_list.length == 0 && !is_loading" colspan="4">
						<div class="alert alert-light m-3" role="alert">No se encontraron elementos</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- <app-modal [show]="show_production_area_item" [biggest_posible]="true" [closable]="true">
	<div class="card p-3">
		<h1 class="my-3 text-capitalize">{{selected_production_area_item.id ? 'Actualizar':'Agregar'}} artículo de producción</h1>
		<div class="row p-3">
			<div class="col-12">
				<label class="">Artículo</label>
			</div>
		</div>
		<div class="row p-3">
			<div class="col-12 text-start">
				<button type="button" (click)="show_production_area_item = false" class="btn btn-secondary me-1">Cancelar</button>
			</div>
		</div>
	</div>
</app-modal> -->
