<div class="container-fluid">

    <div class="row">
	<h2 class="my-3">Agregar Clientes con Dirección Facturación</h2>
        <app-create-users-billing></app-create-users-billing>
    </div>

    <div class="row">
	<h2 class="my-3">Dar de alta Ordenes</h2>
        <app-create-orders></app-create-orders>
    </div>

    <div class="row">
    <h2 class="my-3">Dar de alta Ordenes con Plazos</h2>
        <app-create-orders-installments></app-create-orders-installments>
    </div>

    <div class="row">
    <h2 class="my-3">Vaciar inventarios</h2>
        <app-clear-inventory></app-clear-inventory>
    </div>

    <div class="row">
    <h2 class="my-3">Transformar Artículos por Lote</h2>
        <app-transform-batch-items></app-transform-batch-items>
    </div>

</div>