:host {
	display: block;
}

.svg-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	min-width: 24px;
	height: 24px;
	font-size: 1.2em;
	fill: var(--menu-icon-color);
	color: var(--menu-icon-color);
}
