<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col-8">
			<h1 class="my-3" >Asistencia - {{ current_date | shortDate: 'full'}}</h1>
		</div>
		<div class="col text-end">
			<a class="btn btn-secondary" routerLink="/close-shift">Cerrar Turno</a>
		</div>
	</div>


	<div class="card px-3 mt-3">
		<div class="row py-1 border-not-last align-items-center mt-2" *ngFor="let ucil of user_checkin_info_list">
			<div class="col-6 col-lg-10">{{ucil.user.name}}</div>
			<div class="col-3 col-lg-1 text-end">
				<button class="btn text-white bg-success" type="button" (click)="checkInOut(ucil)" *ngIf="ucil.current_check_in == null">Check IN</button>
			</div>
			<div class="col-3 col-lg-1 text-end">
				<button class="btn text-white bg-danger" type="button"	(click)="checkInOut(ucil)" *ngIf="ucil.current_check_in">Check OUT</button>
			</div>
		</div>
	</div>
</div>
