<div class="container-fluid">
	<h1>Asistencia</h1>
	<div class="card px-3">
		<div class="row py-1 border-not-last align-items-center" *ngFor="let ucil of user_checkin_info_list">
			<div class="col-10">{{ucil.user.name}}</div>
			<div class="col-1 text-end">
				<button class="btn btn-primary" type="button" (click)="checkIn(ucil)">Check IN</button>
			</div>
			<div class="col-1 text-end">
				<button class="btn btn-primary" type="button"	(click)="checkOut(ucil)">Check OUT</button>
			</div>
		</div>
	</div>
</div>
