@media screen
{
	:host
	{
		position: absolute;
		top	: 0;
		left	: 0;
		right	: 0;
		bottom	: 0;
		--menu-width: 200px;
		--transition-speed: 0.3s;
		background: var(--background-image);
		overflow: hidden;
	}
}
/*
@media print
{
	:host
	{
		position: static;
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
	}
}
*/
.header_container
{
	background-color: var(--header-background-color);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.ps-menu
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: var(--menu-width);
	transition: var( --transition-speed );
	transform: translate3d(-100%,0,0);
	overflow: auto;

	background: var(--menu-background-image );
	background-color: var(--menu-background-color);
	background-color: rgba(0,0,0,0.1);
}

.ps-menu.menu-open
{
	transform: none;
}



@media screen
{
	.ps-main
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: var( --transition-speed );
		overflow: hidden;

		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: flex-start;
	}

	.ps-main.menu-open
	{
		transform: translate3d(var(--menu-width),0,0);
	}

	.ps-main>.header_container
	{
	    order: 0;
	    flex: 0 1 auto;
	    align-self: stretch;
    }

	.ps-main>.main_content
	{
		order: 0;
    	flex: 1 1 auto;
    	align-self: stretch;
		overflow: auto;
    }
}

@media (min-width: 1200px)
{
	.ps-main.menu-open
	{
		right: var(--menu-width);
	}
}

@media print
{
	.ps-menu
	{
		display: none;
	}
	.ps-main
	{
		position: static;
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
	}
	.ps-main .header_container
	{
		display: none;
	}
}
