<div class="container-fluid">
	<h1>Asistencia</h1>
	<div class="card px-3">
		<div class="row fw-bold py-3">
			<div class="col-4">Nombre</div>
			<div class="col-6">
				<div class="row">
					<div class="col text-end border-start">Domingo</div>
					<div class="col text-end border-start">Lunes</div>
					<div class="col text-end border-start">Martes</div>
					<div class="col text-end border-start">Miercoles</div>
					<div class="col text-end border-start">Jueves</div>
					<div class="col text-end border-start">Viernes</div>
					<div class="col text-end border-start">Sabado</div>
				</div>
			</div>
		</div>
		<div class="row py-1 border-top py-2 align-items-center" *ngFor="let ucil of cuser_list">
			<div class="col-4 fw-bold">{{ucil.user.name}}</div>
			<div class="col-6">
				<div class="row">
					<div class="col text-end border-start" *ngFor="let h of ucil.worked_hours">{{h}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
